{% extends "base.html" %}

{% block title %}
    Add Participant | StudyFlow
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div
        class="
            d-flex
            flex-column
            flex-md-row
            justify-content-between
            align-items-md-center
            gap-3
            mb-4
        "
    >
        <div>
            <h1 class="h3 mb-1">
                Add Participant
            </h1>

            <p class="text-muted mb-0">
                Add a fictional participant to this study.
            </p>
        </div>
    </div>


    <div class="row">

        <div class="col-12 col-lg-8 col-xl-6">

            <div class="card">

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.non_field_errors }}


                        <div class="mb-3">
                            {{ form.participant_number.label_tag }}
                            {{ form.participant_number }}
                            {{ form.participant_number.errors }}
                        </div>


                        <div class="row">

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                                {{ form.first_name.errors }}
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                                {{ form.last_name.errors }}
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.date_of_birth.label_tag }}
                                {{ form.date_of_birth }}
                                {{ form.date_of_birth.errors }}
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.sex.label_tag }}
                                {{ form.sex }}
                                {{ form.sex.errors }}
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.status.label_tag }}
                                {{ form.status }}
                                {{ form.status.errors }}
                            </div>

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.enrolled_date.label_tag }}
                                {{ form.enrolled_date }}
                                {{ form.enrolled_date.errors }}
                            </div>

                        </div>


                        <div class="d-flex flex-wrap gap-2">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Add Participant
                            </button>

                            <a
                                href="{% url 'studies:study_detail' study.id %}"
                                class="btn btn-outline-secondary"
                            >
                                Cancel
                            </a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}