{% extends "base.html" %}

{% block title %}
    Add Visit | StudyFlow
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="mb-4">

        <h1 class="h3 mb-1">
            Add Visit
        </h1>

        <p class="text-muted mb-0">
            Participant:
            {{ participant.participant_number }}
        </p>

    </div>


    <div class="row">

        <div class="col-12 col-lg-8 col-xl-6">

            <div class="card">

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.non_field_errors }}


                        <div class="row">

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.visit_number.label_tag }}
                                {{ form.visit_number }}
                                {{ form.visit_number.errors }}
                            </div>


                            <div class="col-12 col-md-6 mb-3">
                                {{ form.visit_type.label_tag }}
                                {{ form.visit_type }}
                                {{ form.visit_type.errors }}
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-12 col-md-6 mb-3">
                                {{ form.scheduled_date.label_tag }}
                                {{ form.scheduled_date }}
                                {{ form.scheduled_date.errors }}
                            </div>


                            <div class="col-12 col-md-6 mb-3">
                                {{ form.actual_date.label_tag }}
                                {{ form.actual_date }}
                                {{ form.actual_date.errors }}
                            </div>

                        </div>


                        <div class="mb-3">
                            {{ form.status.label_tag }}
                            {{ form.status }}
                            {{ form.status.errors }}
                        </div>


                        <div class="mb-3">
                            {{ form.notes.label_tag }}
                            {{ form.notes }}
                            {{ form.notes.errors }}
                        </div>


                        <div class="d-flex flex-wrap gap-2">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Add Visit
                            </button>

                            <a
                                href="{% url 'studies:study_detail' participant.study.id %}"
                                class="btn btn-outline-secondary"
                            >
                                Cancel
                            </a>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}